version: "{branch} {build}"

shallow_clone: true

init:
  - git config --global core.autocrlf input

environment:
  APPVEYOR_CACHE_ENTRY_ZIP_ARGS: -t7z -mx0 -mmt=0 -snl -snh
  MAVEN_OPTS: "-Dmaven.repo.local=C:/Users/appveyor/.m2"
  matrix:
    - JAVA_HOME: "C:\\Program Files\\Java\\jdk17"
    - JAVA_HOME: "C:\\Program Files\\Java\\jdk21"

cache:
  - C:\Users\appveyor\.m2 -> pom.xml

install:
  - SET PATH=%JAVA_HOME%\bin;%PATH%
  - java -version
  - mvn -version

build_script:
  - mvn clean compile -DskipTests

test_script:
  - mvn verify

